.profile-picture{
    position: fixed;
    left: 0%;
    top: 40px;
    transform: translate(-50%, -50%);
    margin-left: 10px;
}

.profile-name{
    position: fixed;
    left: 50%;
    top: 40px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.profile-login{
    position: fixed;
    left: 98%;
    top: 40px;
    transform: translate(-50%, -50%);
}