
.input{
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.input-button{
    width: 120px;
    margin: auto 10px;
    background-color: #0e62da;
    color: white;
    border: 1px solid;
    border-radius: 10px;
    padding: 5px 13px;
  }
  
  .input-button:hover{
    cursor: pointer;
    background-color: #66a6ff;
  }